{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": [
                        "last 1 version",
                        "ie >= 11"
                    ]
                }
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-syntax-class-properties",
        "transform-class-properties",
        "@babel/plugin-proposal-object-rest-spread"
    ]
}